html,
body {
    background: lightblue;
    height: 100%;
    margin: 0;
}

.navbar ul {
    background: lightgrey;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    color: darkslategray;
    padding: 1rem;
    text-decoration: none;
}

.navbar ul li a:hover {
    background: gray;
}

.navbar ul li a:active {
    background: darkgray
}