@import "_navbar";
@import "_vars";

* {
    box-sizing: border-box;
}


html,
body {
    background: $faintblue;
    height: 100%;
    margin: 0;
}

.content {
    padding: 1rem;
}

.header {
    background: $skyblue;
    text-align: center;
}

img {
    border-radius: 1rem;
    width: 20rem;
    height: auto;
}

.flexContainer {
    display: flex;
    justify-content: flex-start;
}

.p {
    color: $offblack;
    font: garamond;
}